<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.jmonkey.modules.report.mapper.ReportStudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wang.jmonkey.modules.report.model.entity.ReportStudent">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="grade" property="grade" />
        <result column="report_date" property="reportDate" />
        <result column="school_name" property="schoolName" />
        <result column="school_date" property="schoolDate" />
        <result column="info" property="info" />

        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <resultMap id="DtoResultMap" type="com.wang.jmonkey.modules.report.model.dto.ReportStudentDto" extends="BaseResultMap">
        <result column="user_name" property="userName" />
        <collection property="areaList" ofType="com.wang.jmonkey.modules.report.model.entity.ReportStudentArea">
            <result column="area_code" property="areaCode" />
            <result column="area_name" property="areaName" />
        </collection>
        <collection property="majorList" ofType="com.wang.jmonkey.modules.report.model.entity.ReportStudentMajor">
            <result column="major_name" property="majorName" />
        </collection>
        <collection property="schoolList" ofType="com.wang.jmonkey.modules.report.model.entity.ReportStudentSchool">
            <result column="school_id" property="schoolId" />
            <result column="school_name_student" property="schoolName" />
        </collection>
    </resultMap>

    <select id="selectDtoById" resultMap="DtoResultMap">
        select
            s.*, u.real_name as user_name,
            area.area_code as area_code, area.area_name as area_name,
            major.major_name as major_name,
            school.school_id as school_id, school.school_name as school_name_student
        FROM report_student s
        left join sys_user u on u.id = s.user_id
        LEFT JOIN report_student_area area ON area.student_id = s.id
        LEFT JOIN report_student_major major ON major.student_id = s.id
        LEFT JOIN report_student_school school ON school.student_id = s.id
        WHERE s.id = #{id}
    </select>

    <select id="listPage" resultMap="DtoResultMap">
        select
            s.*, u.real_name as user_name,
            area.area_code as area_code, area.area_name as area_name,
            major.major_name as major_name,
            school.school_id as school_id, school.school_name as school_name_student
        FROM report_student s
        left join sys_user u on u.id = s.user_id
        LEFT JOIN report_student_area area ON area.student_id = s.id
        LEFT JOIN report_student_major major ON major.student_id = s.id
        LEFT JOIN report_student_school school ON school.student_id = s.id
        where s.delete_flag = 'Used'
        <if test=" userId != '' and userId != null">
            AND s.user_id = #{userId}
        </if>
        <if test=" phone != '' and phone != null">
            AND s.phone like '%${phone}%'
        </if>
        <if test=" code != '' and code != null">
            AND s.code like '%${code}%'
        </if>
        <if test=" name != '' and name != null">
            AND s.name like '%${name}%'
        </if>
        order by s.report_date, s.code
    </select>

    <select id="listPageTotal" resultType="java.lang.Long">
        select count(1)
        FROM report_student s
        where s.delete_flag = 'Used'
        <if test=" userId != '' and userId != null">
            AND s.user_id = #{userId}
        </if>
        <if test=" phone != '' and phone != null">
            AND s.phone like '%${phone}%'
        </if>
        <if test=" code != '' and code != null">
            AND s.code like '%${code}%'
        </if>
        <if test=" name != '' and name != null">
            AND s.name like '%${name}%'
        </if>
    </select>

    <select id="checkCode" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM report_student
        WHERE delete_flag = 'Used'
        AND code = #{code}
        <if test=" id != '' and id != null">
            AND id != #{id}
        </if>
    </select>

</mapper>
