<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.jmonkey.modules.ieg.mapper.IegEnrollMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wang.jmonkey.modules.ieg.model.entity.IegEnroll">
        <id column="id" property="id" />
        <result column="year" property="year" />
        <result column="course_type" property="courseType" />
        <result column="degree_type" property="degreeType" />
        <result column="enroll_type" property="enrollType" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <resultMap id="DtoResultMap" type="com.wang.jmonkey.modules.ieg.model.dto.IegEnrollDto" extends="BaseResultMap">
        <result column="number" property="number" />
        <result column="score_min" property="scoreMin" />
        <result column="score_max" property="scoreMax" />
    </resultMap>

    <select id="selectDtoBySchoolName" resultMap="DtoResultMap">
        select e.*, ei.number as number, ei.score_min as score_min, ei.score_max as score_max
        from ieg_enroll e
        left join ieg_enroll_info ei on e.id = ei.enroll_id
        where ei.school_name = #{schoolName}
        and e.delete_flag = 'Used'
        and ei.delete_flag = 'Used'
        order by e.year
    </select>

</mapper>
