<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.jmonkey.modules.ieg.mapper.IegReportMapper">

    <resultMap id="BaseResultMap" type="com.wang.jmonkey.modules.ieg.model.dto.IegReportListDto">
        <result column="schoolId" property="schoolId" />
        <result column="logo" property="logo" />
        <result column="name" property="name" />
        <result column="des" property="describe" />
        <result column="areaProvince" property="areaProvince" />
        <result column="areaCity" property="areaCity" />
        <result column="areaArea" property="areaArea" />
        <result column="areaDetail" property="areaDetail" />
    </resultMap>

    <resultMap id="MajorDto" type="com.wang.jmonkey.modules.ieg.model.dto.IegReportMajorDto">
        <id column="id" property="id" />
        <result column="major_two_id" property="majorTwoId" />
        <result column="school_id" property="schoolId" />
        <result column="faculty_id" property="facultyId" />
        <result column="submit_id" property="submitId" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="degree_type" property="degreeType" />
        <result column="course_type" property="courseType" />
        <result column="sort" property="sort" />
        <result column="describe" property="describe" />
        <result column="work_direction" property="workDirection" />
        <result column="course" property="course" />
        <result column="student_scope" property="studentScope" />
        <result column="money" property="money" />
        <result column="study_length" property="studyLength" />
        <result column="ratio_sex_man" property="ratioSexMan" />
        <result column="ratio_sex_woman" property="ratioSexWoman" />
        <result column="ratio_course_arts" property="ratioCourseArts" />
        <result column="ratio_course_sci" property="ratioCourseSci" />
        <result column="ratio_assess_whole" property="ratioAssessWhole" />
        <result column="ratio_assess_work" property="ratioAssessWork" />
        <result column="ratio_assess_study" property="ratioAssessStudy" />
        <result column="ratio_assess_shool" property="ratioAssessShool" />
        <result column="ratio_assess_difficulty" property="ratioAssessDifficulty" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />

        <result column="majorTwoName" property="majorTwoName" />
        <result column="facultyName" property="facultyName" />

        <collection property="featureNames" ofType="java.lang.String">
            <result column="feature_name"/>
        </collection>

        <collection property="problemList" ofType="com.wang.jmonkey.modules.ieg.model.entity.IegSchoolMajorProblem">
            <result column="problem_answer" property="answer" />
            <result column="problem_problem" property="problem" />
        </collection>

        <collection property="enrollList" ofType="com.wang.jmonkey.modules.ieg.model.entity.IegSchoolMajorEnrollRecord">
            <result column="enroll_year" property="year" />
            <result column="enroll_type" property="type" />
            <result column="enroll_score_min" property="scoreMin" />
            <result column="enroll_plan_number" property="planNumber" />
            <result column="enroll_real_number" property="realNumber" />
        </collection>
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        SELECT
            school.id as schoolId,
            school.logo as logo,
            school.name as name,
            detail.describe as des,
            school.area_province as areaProvince,
            school.area_city as areaCity,
            school.area_area as areaArea,
            school.area_detail as areaDetail
        FROM ieg_school school
        left join ieg_school_detail  detail on school.id = detail.school_id
        where school.delete_flag = 'Used'
        <if test=" areaProvince != '' and areaProvince != null">
            AND school.area_province = #{areaProvince}
        </if>
        <if test=" areaCity != '' and areaCity != null">
            AND school.area_city = #{areaCity}
        </if>
        <if test=" areaArea != '' and areaArea != null">
            AND school.area_area = #{areaArea}
        </if>
        <if test="nameList != null and nameList.size() > 0">
            AND
            <foreach collection="nameList" index="index" item="item" open="(" separator="or" close=")">
                school.name like '%${item}%'
            </foreach>
        </if>
        <if test="majorList != null and majorList.size() > 0">
            and school.id in (
                select school_id
                FROM ieg_school_major
                WHERE delete_flag = 'Used'
                and
                <foreach collection="majorList" index="index" item="item" open="(" separator="or" close=")">
                    name like '%${item}%'
                </foreach>
            )
        </if>
        LIMIT ${limitStart}, ${size}
    </select>

    <select id="listTotal" resultType="java.lang.Long">
        SELECT count(1)
        FROM ieg_school school
        where school.delete_flag = 'Used'
        <if test=" areaProvince != '' and areaProvince != null">
            AND school.area_province = #{areaProvince}
        </if>
        <if test=" areaCity != '' and areaCity != null">
            AND school.area_city = #{areaCity}
        </if>
        <if test=" areaArea != '' and areaArea != null">
            AND school.area_area = #{areaArea}
        </if>
        <if test="nameList != null and nameList.size() > 0">
            AND
            <foreach collection="nameList" index="index" item="item" open="(" separator="or" close=")">
                school.name like '%${item}%'
            </foreach>
        </if>
        <if test="majorList != null and majorList.size() > 0">
            and school.id in (
            select school_id
            FROM ieg_school_major
            WHERE delete_flag = 'Used'
            and
            <foreach collection="majorList" index="index" item="item" open="(" separator="or" close=")">
               name like '%${item}%'
            </foreach>
            )
        </if>
    </select>

    <select id="feaMajorList" resultType="java.lang.String">
        select m.name
        from ieg_school_major m
        left join ieg_school_major_features mf on m.id = mf.school_major_id
        where m.delete_flag = 'Used'
        and m.school_id = #{schoolId}
        and mf.id is not null
        group by m.name
    </select>

    <select id="maxMajorList" resultType="java.lang.String">
        select m.name, mer.year, mer.score_min
        from ieg_school_major m
        LEFT join ieg_school_major_enroll_record mer on m.id = mer.school_major_id
        where m.school_id = #{schoolId}
        order by mer.year desc, mer.score_min desc
        limit 0, 5
    </select>

    <select id="selectMajorBySchoolId" resultMap="MajorDto">
        select
            sm.*,
            m.name as majorTwoName, sf.name as facultyName,
            smfd.lable as feature_name,
            smp.answer as problem_answer, smp.problem as problem_problem,
            mer.year as enroll_year, mer.type as enroll_type, mer.score_min as enroll_score_min,
            mer.plan_number as enroll_plan_number, mer.real_number as enroll_real_number
        FROM ieg_school_major sm
        LEFT JOIN ieg_major m ON sm.major_two_id = m.id
        LEFT JOIN ieg_school_faculty sf ON sm.faculty_id = sf.id
        LEFT JOIN ieg_school_major_features smf ON sm.id = smf.school_major_id
        LEFT JOIN sys_dict smfd ON smf.type = smfd.value
        LEFT JOIN ieg_school_major_problem smp ON smp.school_major_id = sm.id
        left join ieg_school_major_enroll_record mer on mer.school_major_id = sm.id and mer.delete_flag = 'Used' and mer.state = 'Yes'
        WHERE sm.school_id = #{schoolId}
        order by sm.id, mer.year
    </select>

</mapper>
