<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.jmonkey.modules.ieg.mapper.IegSchoolLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wang.jmonkey.modules.ieg.model.entity.IegSchoolLog">
        <id column="id" property="id" />

        <result column="school_name" property="schoolName" />
        <result column="user_name" property="userName" />

        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <select id="listPage" resultMap="BaseResultMap">
        select *
        from ieg_school_log
        where date_format(create_date, '%Y-%m-%d') >= date_format(#{startDate}, '%Y-%m-%d')
        and date_format(create_date, '%Y-%m-%d') &lt;= date_format(#{endDate}, '%Y-%m-%d')
        <if test=" userName != '' and userName != null">
            AND userName like '%${userName}%'
        </if>
        <if test=" schoolName != '' and schoolName != null">
            AND schoolName like '%${schoolName}%'
        </if>
        order by create_date desc
        LIMIT ${limitStart}, ${size}
    </select>

    <select id="listTotal" resultType="java.lang.Long">
        select count(1)
        from ieg_school_log
        where date_format(create_date, '%Y-%m-%d') >= date_format(#{startDate}, '%Y-%m-%d')
        and date_format(create_date, '%Y-%m-%d') &lt;= date_format(#{endDate}, '%Y-%m-%d')
        <if test=" userName != '' and userName != null">
            AND userName like '%${userName}%'
        </if>
        <if test=" schoolName != '' and schoolName != null">
            AND schoolName like '%${schoolName}%'
        </if>
    </select>

</mapper>
