<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.jmonkey.modules.ieg.mapper.IegSchoolEnrollRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wang.jmonkey.modules.ieg.model.entity.IegSchoolEnrollRecord">
        <id column="id" property="id" />
        <result column="school_id" property="schoolId" />
        <result column="year" property="year" />
        <result column="enroll_info" property="enrollInfo" />
        <result column="enroll_rule" property="enrollRule" />
        <result column="all_score_min" property="allScoreMin" />
        <result column="all_score_max" property="allScoreMax" />
        <result column="all_number" property="allNumber" />
        <result column="local_score_min" property="localScoreMin" />
        <result column="local_score_max" property="localScoreMax" />
        <result column="local_number" property="localNumber" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

</mapper>
