<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.jmonkey.modules.sys.mapper.SysButtonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wang.jmonkey.modules.sys.model.entity.SysButton">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="permission" property="permission" />
        <result column="url" property="url" />
        <result column="method" property="method" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <select id="selectListByParent" resultMap="BaseResultMap">
        SELECT b.*
        FROM sys_resource r
        INNER JOIN sys_button b ON r.r_id = b.id AND b.delete_flag = 'Used'
        WHERE r.delete_flag = 'Used' AND r.parent_id = #{parentId}
    </select>

</mapper>
