<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.jmonkey.modules.sys.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wang.jmonkey.modules.sys.model.entity.SysRole">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <select id="checkCode" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM sys_role
        WHERE delete_flag = 'Used'
        AND code = #{code}
        <if test=" id != '' and id != null">
            AND id != #{id}
        </if>
    </select>

    <select id="checkName" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM sys_role
        WHERE delete_flag = 'Used'
        AND name = #{name}
        <if test=" id != '' and id != null">
            AND id != #{id}
        </if>
    </select>
</mapper>
