<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.jmonkey.modules.report.mapper.ReportStudentMajorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wang.jmonkey.modules.report.model.entity.ReportStudentMajor">
        <id column="id" property="id" />
    <result column="create_date" property="createDate" />
    <result column="create_by" property="createBy" />
    <result column="update_date" property="updateDate" />
    <result column="update_by" property="updateBy" />
    <result column="remark" property="remark" />
    <result column="delete_flag" property="deleteFlag" />
        <result column="student_id" property="studentId" />
        <result column="major_name" property="majorName" />
    </resultMap>

</mapper>
